<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1 shrink-to-fit=no">
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
<title>Pesquisa de titulos</title>


</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
	        <div class="container-fluid">
	            <div class="navbar-header">
	                <a class="navbar-brand" href="#">
	                   <span>Titulos</span>
	                </a>
	            </div>
	        </div>
	</nav>
	<div class="alert alert-success" th:if="${!#strings.isEmpty(menssagem)}">
		<span th:text="${menssagem}"></span>
	</div>
	<div class="panel panel-default">
	 		<div class="panel-heading">
	  			<h3>Titulos</h3>
	  			 <a class="btn btn-link aw-link-panel" href="/titulos/novo">Novo Titulo</a>
	   			</div>
	 		</div>
	 	<div class="panel-body">
	 		
	 		<table class="table table-bordered table-striped">
	 			<thead>
	 				<tr>
		 				<th class="text-center com-md-1">#</th>
		 				<th>Descrição</th>
		 				<th class="text-center com-md-2">Data de Vencimento</th>
		 				<th class="text-right com-md-2">Valor</th>
		 				<th class="text-center com-md-2">Status</th>
		 				<th class="text-center com-md-1"></th>
		 			</tr>
	 			</thead>
	 			<tbody>
	 				<tr th:each="titulo :${titulos}">
	 					
		 				
		 				<td class="text-center com-md-1" th:text="${titulo.id}">#</td>
		 				<td th:text="${titulo.descricao}">Descrição</td>
		 				<td class="text-center com-md-2" th:text="${{titulo.dataVencimento}}">Data de Vencimento</td>
		 				<td class="text-right com-md-2" th:text="${{titulo.valor}}">Valor</td>
		 				<td class="text-center com-md-2" th:text="${titulo.status.descricao}">
		 					<span class="label" 
		 						th:classappend="${titulo.pendente : 'label-danger':'label-success'}"></span>
		 				</td>
		 				<td class="text-center com-md-1" >
		 					<a class="btn btn-link btn-xs" th:href="@{/titulos/{id}(id=${titulo.id})}" title="Editar"
		 					rel="tooltip" data-placement="top">
		 						<span class="glyphicon glyphicon-pencil" ></span> 
		 					</a>
		 					<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal" 
		 					th:attr="data-id=${titulo.id}" title="Excluir" rel="tooltip" data-placement="top">
		 						<span class="glyphicon glyphicon-remove" ></span> 
		 					</a>
		 				</td>
	 				</tr>
	 				<tr>
	 					<td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhum Titulo foi encontrado</td>
	 				</tr>
	 			</tbody>
	 		</table>
	 	</div>
<div class="modal fade" id="confirmacaoExclusaoModal" tabindex="-1" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog">
		<form th:attr="data-url-base='/titulos'" method="POST">
			<input type="hidden" name="_method" value="DELETE"/> 
			
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Você tem certeza?</h4>
				</div>
				
				<div class="modal-body">
					<span>Tem certeza que deseja apagar o título?</span>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-danger">Excluir</button>
				</div>
			</div>
		 </form>
	</div>
</div>
 	
<script src="/js/jQuery.js"></script>
<script src="/js/cobranca.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>